.App {
  text-align: center;
}
.Button__Start {
  margin-bottom: 1%;
  margin-left: 1%;
  margin-top: 1%;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #edf0f3 5%, #dce3e4 90%);
  border: 2px solid #686060;
  font-family: sans-serif;
}
.Card_ {
  width: 70%;
  margin-top: 5%;
  position: relative;
  left: 15%;
  margin-bottom: 5%;
}
.div__button {
  width: auto;
  height: auto;
}
.message {
  margin-top: 5%;
}
